{% extends 'base.html.twig' %}
{% block body %}
    <h1>Users list API example</h1>
    <table id="users-table" class="table table-striped col-md-12">
        <thead>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}